### The challenge

Imagine you’re a business owner in Chicago looking to open a new location. Any kind of business will do.

In the form of writing, potentially supplemented by sketches (computer-drawn or hand-drawn) and links, we want to see your response to these questions:

 - What questions could you potentially explore/answer with this data?
 - Ideally, what other data would you gather or combine to learn even more?
 - How would you want to see data presented, to make it actionable by you or others?
 
### Some additional guidelines

 - We're not expecting perfection here; this is intended to be something you spend an afternoon or so on. Send us whatever you used to tackle the problem, even if it’s not pretty.
 - You're not required to use any specific tools— pick your favorites. Excel is just as valid as Python and colored pencils are just as valid as d3. Think of this as an opportunity to showcase your strengths.
 - Feel free to aggregate or filter the data however you see fit— if you want to focus on a particular train line, time period, season, stop, neighborhood, etc, go for it. "Big Data" isn't necessarily going to impress us more than a thoughtful approach or interesting findings from a small slice, especially if that aligns with the story you’re telling.

In [41]:
% matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

## Create Main Dataset

In [42]:
df = pd.read_csv('../Assets/Raw_Data/CTA_L_Daily.csv')
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)

In [43]:
# day of week Mon = 0, Sun = 6
# day type -- w: weekday, u:sunday/holiday, a: saturday
    
df['day'] = df['date'].apply(lambda x: x.dayofweek)

In [44]:
stops = pd.read_csv('../Assets/Raw_Data/CTA_L_Stops.csv')

# 2 stops have null values instead of 'False'. Replace.
stops.isnull().sum()
stops.fillna(value=False, inplace=True)


# Station 41400 has multiple locations associated, remove incorrect one
stop_locations = stops.groupby('MAP_ID')['Location'].unique().reset_index()
stop_locations['Location'] = stop_locations['Location'].apply(lambda x: x[0])

# Summarize stops by Station_ID (Map_ID)
stops = stops.groupby('MAP_ID')['RED', 'BLUE', 'G', 'BRN', 'P',
                                              'Pexp', 'Y', 'Pnk', 'O'].sum().reset_index()
stops = pd.merge(stops, stop_locations, on='MAP_ID', how='left')

# Change L stops to one-hot
for column in stops.iloc[:,1:-1].columns:
    stops[column] = np.where(stops[column] > 0, 1, 0)

# combine purple stops
stops['P'] = np.where((stops['P'] == 1) | (stops['Pexp'] == 1), 1, 0)
stops.drop('Pexp', axis=1, inplace=True)

#rename
stops = stops.rename(columns = {'G' : 'GREEN',
                                'BRN' : 'BROWN', 
                                'P' : 'PURPLE',
                                'Y' : 'YELLOW',
                                'Pnk' : 'PINK',
                                'O' : 'ORANGE'})
# sum total lines at each stop
stops['num_lines'] = stops[['RED', 'BLUE', 'GREEN', 'BROWN', 'PURPLE', 'YELLOW', 'PINK', 'ORANGE']].sum(axis=1)


# Assign lines by name for viz
multi_line = stops[stops['num_lines'] > 1]
multi_line = multi_line[['MAP_ID', 'Location', 'num_lines']]
multi_line['line'] = 'MULTI'

single_line = stops[stops['num_lines'] == 1]
single_line = pd.melt(single_line, id_vars = ['MAP_ID', 'Location', 'num_lines'], var_name='line')
single_line = single_line[single_line['value'] > 0]
single_line.drop('value', axis=1, inplace=True)

viz_stops = pd.concat([single_line, multi_line])

In [45]:
# Merge viz_stops and df
df = pd.merge(df, viz_stops, 
              left_on='station_id', right_on='MAP_ID', 
              how='left')
df.drop(['MAP_ID'], axis=1, inplace=True)

# remove Washington/State station. closed october 2009
df.dropna(inplace=True)

In [46]:
# Split out Lat and Long
df['Location'] = df['Location'].str.split(',').tolist()
df['Latitude'] = df['Location'].apply(lambda x: float(x[0].strip('(')))
df['Longitude'] = df['Location'].apply(lambda x: float(x[1].strip(')')))
df.drop('Location', axis=1, inplace=True)

In [47]:
df.to_csv('../Assets/Outputs/combined_data.csv')

## Ridership past 12 Months

In [48]:
# Create dataset of past 12 months
past_year = df[df['date'] >= '2015-08-01']

In [49]:
# View top stops past 12 months
past_year = past_year.groupby(['stationname', 'line'])['rides'].sum().reset_index()
past_year.sort_values('rides', ascending=False)

                 stationname    line    rides
90                Lake/State     RED  7085148
43                Clark/Lake   MULTI  6030510
38             Chicago/State     RED  5337951
64               Grand/State     RED  4377559
24        Belmont-North Main   MULTI  4332636
60                 Fullerton   MULTI  4205470
110           O'Hare Airport    BLUE  4104701
125                Roosevelt   MULTI  3817582
135      Washington/Dearborn    BLUE  3747934
12             95th/Dan Ryan     RED  3597861
103             Monroe/State     RED  3512450
77             Jackson/State     RED  3382337
132               State/Lake   MULTI  3236639
15        Addison-North Main     RED  3076893
122          Randolph/Wabash   MULTI  3055026
13              Adams/Wabash   MULTI  2874954
101           Midway Airport  ORANGE  2839036
42            Clark/Division     RED  2731266
10                      79th     RED  2448869
76          Jackson/Dearborn    BLUE  2377174
95              Logan Square    BLUE  2313560
50           Damen/Milwaukee    BLUE  2291208
102          Monroe/Dearborn    BLUE  2288179
136         Washington/Wells   MULTI  2233938
120             Quincy/Wells   MULTI  2226573
108           North/Clybourn     RED  2197159
79            Jefferson Park    BLUE  2192461
100         Merchandise Mart   MULTI  2161185
126                 Rosemont    BLUE  2089531
72                    Howard   MULTI  2059117
..                       ...     ...      ...
62   Garfield-South Elevated   GREEN   461756
35    Cermak-McCormick Place   GREEN   451359
39             Cicero-Cermak    PINK   443239
5        47th-South Elevated   GREEN   428233
53           Dempster-Skokie  YELLOW   426092
21              Ashland/63rd   GREEN   410450
31              Central Park    PINK   408293
56   East 63rd-Cottage Grove   GREEN   394544
116           Pulaski-Cermak    PINK   391005
123                Ridgeland   GREEN   390677
98                      Main  PURPLE   389291
139           Western-Cermak    PINK   386464
68        Harlem-Forest Park    BLUE   379539
81             Kedzie-Cermak    PINK   366522
29           California-Lake   GREEN   355272
6                       51st   GREEN   351113
3                       43rd   GREEN   349951
94                    Linden  PURPLE   322948
46              Conservatory   GREEN   319903
58                    Foster  PURPLE   291112
52                  Dempster  PURPLE   290874
73                   Indiana   GREEN   287205
109                    Noyes  PURPLE   268419
32          Central-Evanston  PURPLE   261139
129          South Boulevard  PURPLE   247777
67              Halsted/63rd   GREEN   234093
86                King Drive   GREEN   206612
113            Oakton-Skokie  YELLOW   190039
87                   Kostner    PINK   168631
97            Madison/Wabash   MULTI      271

[144 rows x 3 columns]

## Yearly Trends

In [50]:
# sum by year
df['year'] = df['date'].apply(lambda x: x.year)
df_years = df.groupby(['year','station_id', 'stationname', 'num_lines',
                       'line', 'Latitude', 'Longitude'])['rides'].agg(sum).reset_index()

# calculate predicted 2016 ridership totals
df_years['rides'] = np.where(df_years['year'] == 2016, df_years['rides']*(12/7.0), df_years['rides'])
df_years.sort_values(['station_id', 'year'], inplace=True)

In [51]:
# calculate YoY ridership difference (total and relative)
df_years['prior_id'] = df_years['station_id'].shift()
df_years['prior_rides'] = df_years['rides'].shift()
df_years['ride_dif'] = np.where(df_years['prior_id'] == df_years['station_id'], 
                                df_years['rides'].diff(), None)
df_years['rltv_ride_dif'] = df_years['ride_dif'] / df_years['prior_rides']
df_years.drop('prior_id', axis=1, inplace=True)
df_years.dropna(inplace=True)

## New Stations

In [52]:
# Find new stations
new_station = df_years.groupby('stationname')['year'].count()
new_station.sort_values().head()

stationname
Cermak-McCormick Place     1
Oakton-Skokie              4
Morgan-Lake                4
Dempster-Skokie            5
Skokie                    11
Name: year, dtype: int64

In [53]:
# Additional info on new stations
df_years[df_years['stationname'].isin(['Cermak-McCormick Place', 'Oakton-Skokie', 
                                       'Morgan-Lake', 'Dempster-Skokie'])]

,year,station_id,stationname,num_lines,line,Latitude,Longitude,rides,prior_rides,ride_dif,rltv_ride_dif
1563,2012,40140,Dempster-Skokie,1.0,YELLOW,42.038951,-87.751919,570533.000000,794416.0,-223883,-0.281821
1707,2013,40140,Dempster-Skokie,1.0,YELLOW,42.038951,-87.751919,697441.000000,187751.0,509690,2.71471
1850,2014,40140,Dempster-Skokie,1.0,YELLOW,42.038951,-87.751919,685359.000000,697441.0,-12082,-0.0173233
1993,2015,40140,Dempster-Skokie,1.0,YELLOW,42.038951,-87.751919,323519.000000,685359.0,-361840,-0.527957
2137,2016,40140,Dempster-Skokie,1.0,YELLOW,42.038951,-87.751919,580974.857143,323519.0,257456,0.795798
1834,2013,41510,Morgan-Lake,2.0,MULTI,41.885586,-87.652193,601174.000000,288944.0,312230,1.08059
1977,2014,41510,Morgan-Lake,2.0,MULTI,41.885586,-87.652193,705367.000000,601174.0,104193,0.173316
2120,2015,41510,Morgan-Lake,2.0,MULTI,41.885586,-87.652193,806111.000000,705367.0,100744,0.142825
2264,2016,41510,Morgan-Lake,2.0,MULTI,41.885586,-87.652193,866751.428571,806111.0,60640.4,0.0752259
1837,2013,41680,Oakton-Skokie,1.0,YELLOW,42.026243,-87.747221,283327.000000,173746.0,109581,0.630697
1980,2014,41680,Oakton-Skokie,1.0,YELLOW,42.026243,-87.747221,301125.000000,283327.0,17798,0.0628179
2123,2015,41680,Oakton-Skokie,1.0,YELLOW,42.026243,-87.747221,149883.000000,301125.0,-151242,-0.502257
2267,2016,41680,Oakton-Skokie,1.0,YELLOW,42.026243,-87.747221,259998.857143,149883.0,110116,0.734679
2268,2016,41690,Cermak-McCormick Place,1.0,GREEN,41.853115,-87.626402,438608.571429,390789.0,47819.6,0.122367

## Growth 2014-2016(proj)

In [54]:
# filter to stops that have growth in 2015 and projected growth in 2016
df_years['rltv_ride_dif'] = df_years['rltv_ride_dif'].astype(float)
df_recent = df_years[(df_years['year'] > 2014) & (df_years['ride_dif'] > 0)]
df_recent = df_recent.groupby(['station_id', 'stationname', 'num_lines', 'line',
                               'Latitude', 'Longitude']).agg({'year' : 'count',
                                                              'rides' : np.mean,
                                                              'ride_dif' : 'sum',
                                                              'rltv_ride_dif' : np.mean}).reset_index()

In [55]:
# sort by avg relative growth 2015 & 2016
df_recent[df_recent['year'] == 2][['station_id', 'stationname', 'line',
                                  'rltv_ride_dif', 'rides']].sort_values('rltv_ride_dif', ascending=False)

    station_id           stationname    line  rltv_ride_dif         rides
11       40200       Randolph/Wabash   MULTI       0.163655  2.976565e+06
42       40680          Adams/Wabash   MULTI       0.161572  2.809152e+06
34       40570  California/Milwaukee    BLUE       0.122810  1.620982e+06
93       41510           Morgan-Lake   MULTI       0.109025  8.364312e+05
36       40590       Damen/Milwaukee    BLUE       0.107022  2.245855e+06
44       40730      Washington/Wells   MULTI       0.052463  2.213629e+06
4        40090           Damen-Brown   BROWN       0.047567  8.633398e+05
23       40400                 Noyes  PURPLE       0.042755  2.677261e+05
30       40520                Foster  PURPLE       0.042552  2.896781e+05
48       40790       Monroe/Dearborn    BLUE       0.042190  2.268213e+06
21       40370   Washington/Dearborn    BLUE       0.041742  3.678470e+06
25       40430   Clinton-Forest Park    BLUE       0.033236  1.182876e+06
82       41340               LaSalle    BLUE       0.032979  9.532170e+05
1        40060        Belmont-O'Hare    BLUE       0.030666  1.787162e+06
86       41420    Addison-North Main     RED       0.027779  3.040233e+06
40       40650        North/Clybourn     RED       0.024160  2.148028e+06
52       40870             Francisco   BROWN       0.017414  4.849747e+05
53       40880             Thorndale     RED       0.014382  1.018716e+06
3        40080              Sheridan     RED       0.008226  1.850091e+06

In [56]:
df_recent.to_csv('../Assets/Outputs/recent_data.csv')
df_years.to_csv('../Assets/Outputs/years_data.csv')